nav {
    position: fixed;
}

.hero {
    background-image: url("../img/background-foret.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}